@import "../../../styles/Colors.scss";
.videoPlayer {
  position: absolute;
  width: 90%;
  height: 106%;
  left: 5%;
  top: -3%;
  border: 0.188rem solid rgba($main-mint, 1);
  box-shadow: 0 0 0.625rem 0.188rem rgba($main-mint, 1);
  @media (max-width: 768px) {
    width: 90%;
    left: 5%;
  }
  .player {
    width: 100%;
    height: 100%;
  }
}

.videoCloseBtn {
  position: absolute;
  right: -1rem;
  width: 3rem;
  height: 3rem;
  border: 0.188rem solid rgba($main-mint, 1);
  border-radius: 15%;
  background-color: rgba($main-brown, 0.9);
  box-shadow: $main-shadow;
  cursor: pointer;
  @media (max-width: 425px) {
    right: -1.6rem;
    width: 3rem;
    height: 3rem;
  }
}
.videoCloseBtn:hover {
  background-color: rgba($main-brown, 1);
  transform: scale(1.2);
}
