@import "../../../styles/Colors.scss";

.profileCard {
  padding: 0.44em;
  display: flex;
  width: 100%;
  border-radius: 0.625em;
  .profileImg {
    min-width: 5.8rem;
    width: 5.8rem;
    height: 5.8rem;
    border: 0.2rem solid $sub-mint-one;
  }
  .profileInfo {
    margin-left: 0.44em;

    .profileName {
      font-size: 1.2rem;
      font-weight: bold;
      border-left: 0.3rem solid $sub-mint-two;
      padding-left: 0.3rem;
    }
    .profileGender {
      margin-top: 0.2em;
      border-left: 0.3rem solid $sub-mint-one;
      padding-left: 0.3rem;
    }
    .profileEmail {
      margin-top: 0.2em;
      border-left: 0.3rem solid $sub-mint-one;
      padding-left: 0.3rem;
    }
    .profileMessage {
      max-height: 2rem;
      overflow: auto;
      margin-top: 0.2em;
      border-left: 0.3rem solid $sub-mint-one;
      padding-left: 0.3rem;
    }
  }
}
