.profileCard {
  padding: 7px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  .profileImg {
    width: 84px;
    height: 84px;
  }
  .profileInfo {
    margin-left: 7px;

    .profileName {
    }
    .profileGender {
    }
    .profileEmail {
    }
    .profileMessage {
    }
  }
}
