@import "../../../styles/Colors.scss";

.profileEditor {
  width: 100%;
  margin-left: 0.5em;

  .profileForm {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: 100%;

    .row1,
    .row2,
    .row3 {
      display: flex;
      align-items: center;
      width: 100%;
      input,
      select,
      textarea {
        font-size: 0.9rem;
      }
      input:focus,
      select:focus,
      textarea:focus {
        outline: 0;
      }
    }
    .row1 {
      height: 23%;
      .name {
        width: 15%;
      }
      .gender {
        padding: 0.063em 0.125em 0.063em 0.063em;
        border-width: 0.063em;
        margin-left: 0.2em;
        margin-right: 0.2em;
      }
      .email {
        width: 30%;
      }
    }
    .row2 {
      height: 37%;
      .selfIntro {
        width: 100%;
        height: 100%;
        resize: none;
      }
    }
    .row3 {
      height: 20%;
      #imageUpload {
        display: none;
      }
      .imageUploadBtn {
        cursor: pointer;
      }
      .imageUploadBtn:hover {
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 0.063rem $main-mint;
      }
    }
    .row4 {
      display: flex;
      align-items: center;
      height: 20%;

      .resetBtnOff,
      .resetBtn,
      .profileUpdating,
      .profileUpdated {
        border: 0.126rem solid black;
        padding: 0.063rem;
      }

      .profileUpdating,
      .resetBtnOff {
        color: grey;
      }
      .profileUpdated,
      .resetBtn {
        cursor: pointer;
      }
      .profileUpdated:hover,
      .resetBtn:hover {
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 0.063rem $main-mint;
      }

      .resetBtnOff,
      .resetBtn {
        margin-left: 1rem;
      }
    }
  }
}
