@import "../../styles/Colors.scss";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1;
  padding: 1em;
  background-color: rgba(white, 0.7);

  .mainAbout {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: max-content;
    place-self: center;
    box-shadow: $sub-shadow;
    border: 3px solid $sub-mint-one;
    margin-bottom: 1em;

    .mainAboutTitle {
      background-color: rgba($sub-brown-two, 0.9);
      border-bottom: 3px solid $sub-mint-one;
      font-size: 1.7rem;
      padding: 0.5rem;
    }
    .mainAboutContent {
      background-color: rgba(white, 0.5);
      font-size: 1.2rem;
      padding: 0.5rem;
      @media (max-width: 425px) {
        overflow: hidden;
        max-height: 6em;
      }
    }
    .mainAboutContent:hover {
      max-height: none;
    }
  }

  .bookmark {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: max-content;
    place-self: center;
    box-shadow: $sub-shadow;

    .bookmarkList {
      width: 100%;
      border: 3px solid $sub-mint-one;
      border-bottom: none;

      .bookmarkTitle {
        border-bottom: 3px solid $sub-mint-one;
        background-color: rgba($sub-brown-two, 0.9);
        padding: 0.125em;
        padding: 0.5rem;
      }
      .bookmarkItems {
        height: min-content;
        background-color: rgba(white, 0.5);
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;

        .bookmarkName:hover {
          text-shadow: 0 0 2px $main-mint;
        }
      }
    }
    .bookmarkHowto {
      width: 100%;
      border: 3px solid $sub-mint-one;

      .bookmarkHowtoTitle {
        border-bottom: 3px solid $sub-mint-one;
        background-color: rgba($sub-brown-two, 0.9);
        padding: 0.5rem;
      }
      .bookmarkHowtoContent {
        background-color: rgba(white, 0.5);
        padding: 0.5rem;
      }
    }
  }
}
