@import "../../styles/Colors.scss";

.lol {
  width: 100%;
  height: 100%;
  flex: 1 1;
  background-color: rgba($main-brown, 0.8);

  .youtube {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid black;
    position: relative;

    .youtubeSection {
      font-size: 1.25rem;
      border-bottom: 3px solid black;
    }
  }

  .infoSites {
    display: flex;
    flex-direction: column;
    height: 40%;
    border-bottom: 3px solid black;

    .infoSection {
      font-size: 1.25rem;
      border-bottom: 3px solid black;
    }
  }
}
