@import "../../../styles/Colors.scss";

.guestBook {
  position: absolute;
  bottom: -2rem;
  left: 0.4rem;

  .guestBookSwitch {
    background-color: rgba($main-brown, 0.95);
    border: 0.188rem solid rgba($main-mint, 1);
    box-shadow: $main-shadow-two;
    padding: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .guestBookSwitch:hover {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0.063rem $main-mint;
    transform: scale(1.05);
  }

  .guestBookBackground {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }
  .guestBookContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba($sub-brown-two, 0.9);
    border: 3px solid rgba($main-mint, 1);
    box-shadow: $main-shadow;

    @media (max-width: 768px) {
      left: 12.5%;
      width: 75%;
    }

    animation-duration: 0.2s;
    animation-name: zoomin;
    @keyframes zoomin {
      from {
        transform: scale(0.5);
      }
      to {
        transfrom: scale(1);
      }
    }

    .guestBookCloseBtn {
      display: flex;
      align-items: center;
      place-self: flex-end;
      font-size: 1.4rem;
      width: fit-content;
      height: 8%;
      padding: 0.5rem;
      cursor: pointer;
    }
    .guestBookCloseBtn:hover {
      color: rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 0.063rem $main-mint;
    }

    .guestBookTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12%;
      font-size: 1.5rem;
      background-color: rgba(white, 0.5);
      .modalDescription {
        font-size: 1rem;
      }
    }

    .signListContainer {
      width: 100%;
      height: 77%;
      overflow-y: auto;
      padding: 0.3rem;
    }

    .signCreateBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8%;
      font-size: 1.2rem;
      background-color: rgba($sub-brown-one, 1);
      cursor: pointer;
    }

    .signCreateBtn:hover {
      color: rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 0.063rem $main-mint;
    }

    .off {
      background-color: white;
      opacity: 0.2;
      cursor: default;
    }

    .signFormContainer {
      position: absolute;
      bottom: 7.5%;
      left: 12.5%;
      width: 75%;
      height: 85%;
      background-color: rgba($sub-brown-two, 1);
      border: 3px solid rgba($main-mint, 1);
      box-shadow: $main-shadow;
      animation-duration: 0.2s;
      animation-name: zoomin;
      @keyframes zoomin {
        from {
          transform: scale(0.5);
        }
        to {
          transfrom: scale(1);
        }
      }
    }
  }
}
