@import "../../../styles/Colors.scss";

.guestBookList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(grey, 1);

  .signNumber {
    width: 10%;
    border-right: 1px solid rgba(grey, 1);
  }

  .signName {
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(grey, 1);
  }

  .signTitle {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(grey, 1);
    cursor: pointer;
  }
  .signTitle:hover {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0.063rem $main-mint;
  }

  .signDate {
    width: 20%;
  }
}
