@import "../../styles/Colors.scss";

.modal {
  .modalSwitch:hover {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0.063rem $main-mint;
    cursor: pointer;
  }

  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba($sub-brown-two, 0.9);
    border: 3px solid rgba($main-mint, 1);
    box-shadow: $main-shadow;

    @media (max-width: 768px) {
      left: 12.5%;
      width: 75%;
    }

    animation-duration: 0.2s;
    animation-name: zoomin;
    @keyframes zoomin {
      from {
        transform: scale(0.5);
      }
      to {
        transfrom: scale(1);
      }
    }

    .modalCloseBtn {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 10%;
      align-self: flex-end;
      font-size: 1.4rem;
      padding: 0.5rem;
    }
    .modalCloseBtn:hover {
      color: rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 0.063rem $main-mint;
      cursor: pointer;
    }

    .modalTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 20%;
      font-size: 1.2rem;
      background-color: rgba(white, 0.5);
      .modalDescription {
        font-size: 1rem;
      }
    }

    .modalContent {
      height: 60%;
      font-size: 1rem;
      resize: none;
    }
    .modalContent:focus {
      outline: 0;
    }

    .modalSubmit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10%;
      font-size: 1.3rem;
      cursor: pointer;
    }
    .off {
      background-color: white;
      opacity: 0.2;
      cursor: default;
    }
  }
}
