.bookmarkItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;

  .bookmarkDeleteBtn {
    color: rgb(255, 215, 0);
    filter: drop-shadow(0 0 1px rgb(100, 100, 100));
    cursor: pointer;
  }
  .bookmarkDeleteBtn:hover {
    color: rgb(206, 176, 9);
  }
}
