@import "../../styles/Colors.scss";

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;

  .title {
    text-align: center;
    padding: 15px 0px;
    .titleImg {
      width: 40%;
      cursor: pointer;
    }
  }
  .logout {
    text-align: end;

    .logoutImg {
      width: 9%;
      padding: 5px;
      cursor: pointer;
      background-color: rgba($main-brown, 0.95);
      border: 3px solid rgba($main-mint, 1);
      box-shadow: $main-shadow;
    }
    .logoutImg:hover {
      opacity: 0.8;
    }
  }
  .profileContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba($main-brown, 0.95);
    border: 3px solid rgba($main-mint, 1);
    box-shadow: $main-shadow;
  }

  .menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba($main-brown, 0.95);
    border: 3px solid $main-mint;
    box-shadow: $main-shadow;
    border-top: none;

    li {
      display: flex;
      img {
        width: 100%;
        cursor: pointer;
      }
      .selected {
        transform: scale(1.1);
        box-shadow: 0 10px 5px -4px $main-mint;
      }
      img:hover {
        transform: scale(1.1);
        transition: ease-in 50ms;
      }
    }
    .lolMenu {
      width: 9%;
    }
    .lostarkMenu {
      width: 15%;
    }
    .poeMenu {
      width: 5%;
    }
    .etcMenu {
      width: 11%;
    }
  }
}
