@import "../../styles/Colors.scss";

.footer {
  width: 100%;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba($main-mint, 1);
  box-shadow: $main-shadow;

  .myGithub {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
  }
  .myGithub:hover {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 1px $main-mint;
  }
}
