.app {
  background-image: url("./background.png");
  background-position: top;
  width: 100%;
  min-width: 270px;
  display: flex;
  justify-content: center;
  font-family: "neoDGM";

  .appContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.noScroll {
  overflow: hidden;
}
