@import "../../../styles/Colors.scss";

.siteItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border: 1px solid black;
  background-color: rgba($sub-brown-one, 0.5);

  // @media (max-width: 800px) {
  //   flex-direction: row;
  //   justify-content: space-around;
  //   width: 90%;
  // }

  .siteUrl {
    // @media (max-width: 800px) {
    //   width: 20%;
    // }
    .siteLogo {
      width: 100%;
      height: 3.5rem;
      filter: drop-shadow(0 0 1px black);
    }

    .siteLogo:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 0 10px $main-mint);
    }
  }
  .siteInfo {
    // @media (max-width: 800px) {
    //   width: 70%;
    // }
    .siteName {
      margin: 0.2rem 0 0.2rem 0;
      text-align: center;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .siteDescription {
      font-size: 1rem;
      border-top: 1px solid black;
      padding-top: 0.5rem;
    }
  }
  .bookmarkToggleBtn {
    position: absolute;
    top: -1em;
    right: -1.5em;
    cursor: pointer;
  }
}
