@import "../../../styles/Colors.scss";

.siteItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 8px;
  margin: 8px 0px 8px 0px;
  border: 1px solid black;
  background-color: rgba($sub-brown-one, 0.5);

  .siteUrl {
    height: 3.5rem;
    background-color: rgba($sub-brown-one, 0.5);

    .siteLogo {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0 0 1px black);
    }
  }
  .siteInfo {
    .siteName {
      margin: 5px 0px 5px 0px;
      text-align: center;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .siteDescription {
      font-size: 1rem;
      border-top: 1px solid black;
      background-color: rgba($sub-brown-one, 0.5);
    }
  }
  .bookmarkToggleBtn {
    position: absolute;
    top: -1em;
    right: -1.5em;
    cursor: pointer;
  }
}
